/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

h1 { 
    font-size: 22px;
 }

 h2 {
    font-size: 18px;
 }

 h3 {
    font-size: 16px;
 }

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;

}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/***** Header *****/
header {
    height: 79px;
    display: flex;
    justify-content: space-between;
    
}

.logo {
    width: 61.09px;
    height: 19px;
    padding-top: 30px;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 68px;
}


header li :hover, header li :active {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 22px;
}


/****Recherche Hebergement****/

 .search-bar {
    height: 49px;
    margin: 45px 0 45px 0;
    display: flex;

 }

.search-button {
    font-size: 18px;
    font-weight: bold;
    color: #F2F2F2;
    background-color:#0065FC;
    border-style: none;
    border-radius: 0px 15px 15px 0px ;
    padding: 15px 16px 15px 16px;
}

#search-button-alt {
    font-size: 18px;
    background-color: #0065FC;
    border: none;
    border-radius:15px;
    padding: 15px;
    display: none;
} 

#search-button-alt .fa-solid {
    color: white;

}

.search-bar-button {
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    display: flex;
    text-align: center;
    text-decoration: none;
}

.search-bar-button::-webkit-search-cancel-button { 
    display:none; 
}

.fa-location-dot {
    font-size: 18px;
    background-color: #F2F2F2;
    padding: 16px;
    border-radius: 15px 0px 0px 15px; 
}

.filters {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
}

.filters button {
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    background-color: white;
    padding: 4px 19px 4px 19px;
    border-radius: 50px;
    border: 2px solid #D9D9D9;
    display: flex;
    align-items: center;
 }

.buttons { 
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
}
 .buttons :hover {
    background-color: #DEEBFF;
 }

 .filters i {
    margin-right: 10px;
 }

 .info-bar {
    display: flex;
    flex-wrap: nowrap; 
    align-items: center;
    margin: 25px 0 25px 0;

}

 .info-bar i {
    font-size: 12px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border: 2px solid #D9D9D9; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards a {
    width: 30.7%;
}

.hebergements .card {
    height: 207.25px;
    margin-top: 10px;
    box-shadow: 0px 3px 10px 0px rgba(179, 180, 188, 0.10);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.hebergements .card img {
    height: 118px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0; 
}

.hebergements .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.hebergements .card-title {
    margin-top: 8px;
    margin-bottom: 4px;
}

.hebergements .card-subtitle {
    margin-top: 8px;
    margin-bottom: 4px;
}

.hebergements .card-rating {
    margin-top: 0px;
    font-size: 18px;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
    justify-content: center;
    }

.hebergements h1 {
        margin-top: 0;
    }

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****Activtés à Marseille*****/

.marseille-activities {
    margin-top: 60px;
    padding: 30px 30px 60px 30px;
    width: 95%; 
}

.activities-cards a {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.activities-cards {
    display: flex;
    padding-top: 30px;
    gap: 30px;
    width: 100%;
}

.activities-cards .card {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.activities-cards img {
    height: 430px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.marseille-activities h3 {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/***Footer***/

footer {
    width: 100%;
    display: flex;
    padding-top: 0;
    background-color: #F2F2F2;
}

footer div {
    width: 33%;
    margin: 10px 0 0 30px;
    display: flex;
    flex-direction: column;    
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

footer li {
    padding-top: 5px;
    padding-bottom: 5px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/


/* between desktop and tablet***/
@media (max-width: 1439px) and (min-width:1025px)  {
    .hebergements-cards a  {
        width: 47% !important;
    }

   

    }

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filters {
        display: flex;
        flex-direction: column;
    }

    .filters .buttons {
          font-size: 16px ;
    
    }
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }
    

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }


    .activities-cards .card {
        height: 80%;
        width: 100%; 
    }

    .activities-cards .card img {
        width: 100%;
        height: 80%;
    }

    .activities-cards .card-content {
        height: 15%;
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .activities-cards h3 {
        padding: 0;
    }

    footer {
        width: 100%;
        display: flex;
    }


    #search-button-alt {
        display: none;
    }

}    


@media (max-width: 1024px) and (min-width:769px) {
    .hebergements-cards a {
        width: 30.2%;
    }

    .hebergements .card-subtitle {
        margin-bottom: 1px;

    }

}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        margin: 0;
    }

   

    .main-container {
        padding: 0;
    }

    main {
        margin-top: 60px;
    }


    header .logo {
        width: 100%;
        object-fit: contain;
        justify-content: center;
        margin-bottom: 10px;  

    }

    header {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

    }   

    header nav {
        width: 100%;
        display: block;
        display: flex;
        justify-content: center;
        
    }

    header ul {
        width: 100%;
        border-bottom: 2px solid #F2F2F2;
        display: block;
        display: flex;
        justify-content: space-around;
        padding-bottom: 10px;
        padding-left: 0;
    }

    header ul :hover, header ul :active {
        border-bottom: 2px solid #0065FC;
        padding-bottom: 10px;

    }
    header li {
        height: 100%;
        width: 50%;
        text-align: center;
    }
    
    header li :hover, header li :active {
        padding:0;
        border: none;
    }

    main h1, main p {
        padding-left: 15px;
        padding-right: 15px;

    }

    .search-bar {
        padding-left: 15px;
    }

    .filters {
        padding-left: 15px;
    }

    .filters i {
        margin-right: 0;
    }

    .filters button {
        width: 100%;
        padding: 2px 10px 2px 10px;

    }

    #search-button-alt {
        display: block;

    }

    .search-button {
        display: none;
    }


    .buttons button { 
        width: 165px;
        display: block;
        display: flex;
       
    }

    .buttons { 
        width: 100%;
        display: block;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    
    .buttons p {
        font-size: 14px;
    }

    .info-bar {
        padding-left: 15px;
        padding-right: 15px;
    }

    .info-bar i {
        margin-right: 10px;
        min-width: 24px;
        min-height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hebergements-and-populaires {
        background-color: white;
    }

    .populaires {
        order: 1;
        border-radius: 0 !important;
              
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-subtitle {
        padding-left: 0;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }


    .hebergements {
        order: 2;
        margin-top: 20px;
        background-color: white !important;
       
    }


    .hebergements-cards {
        display: flex;
        justify-content: left;

    }

    .hebergements a {
        width: 100%;
    }

    .hebergements .card-subtitle {
        padding-left: 0;
        font-size: 14px;

        }


    .marseille-activities {
        order: 3;
        padding: 3px;   
        width: 90%;         
    }

    .activities-cards {
        display: flex;
        flex-direction: column;

    }

    .activities-cards a {
        width: 100%;
        margin: 10px; 

    }

    .activities-cards .card img {
        height: 180px;
        width: 100%;

    }

    .activities-cards .card-content {
        padding-bottom: 10px;
       
        
    }

    footer {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    footer div {
        width: 90%;
        margin-left: 0;
        padding-left: 30px;
        }
    
}